<%= simple_form_for([@user, @message], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, hint: "Your name" %>
    <%= f.input :content, as: :text, input_html: { rows: 8, class: 'span5' }, hint: "Max: 500 characters" %>
  </div>
  <div class="form-actions">
    <%= f.submit("Submit", { class: 'btn btn-primary' }) %>
  </div>
<% end %>
