<div class="span12">
  <div class="row">
    <div class="span12">
      <header>
        <h1>Messages</h1>
        <p><%= link_to("Back", user_path(current_user), { class: 'btn btn-primary' }) %></p>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-striped">
        <tr>
          <th>Read</th>
          <th>Name</th>
          <th>Content</th>
          <th></th>
        </tr>

      <% @messages.each do |message| %>
        <tr>
          <td><%= read_icon(message.read?) %></td>
          <td><%= link_to(message.name, user_message_path(current_user, message)) %></td>
          <td><%= truncate(strip_tags(message.content), length: 100) %></td>
          <td><%= link_to 'Destroy', user_message_path(current_user, message), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>