<div class="span12">
  <div class="row">
    <div class="span12">
      <header>
        <h1>New message</h1>
        <p><%= link_to 'Back', user_path(@user), { class: 'btn btn-danger' } %></p>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= render 'form' %>
    </div>
  </div>
</div>