<div class="span12">
  <p><%= link_to 'Back', user_messages_path(current_user), { class: 'btn btn-primary' } %></p>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @message.name %>
  </p>

  <p>
    <b>Content:</b>
    <%= @message.content %>
  </p>
</div>