<div class="span12">
  <div class="row">
    <div class="span12">
      <header>
        <h1 id="user-name">
          Edit your account
        </h1>
        <p class="pull-right">
          <div class="pull-right">
            <% if user_signed_in? %>
              <p>Hello! <%= link_to(current_user.nickname, user_path(current_user)) %> [ <%= link_to('Sign out', destroy_user_session_path, {method: :delete}) %> ]</p>
            <% else %>
              <%= link_to('Sign Up', new_user_registration_path) %> | <%= link_to('Sign In', new_user_session_path) %>
            <% end %>
          </div>
        </p>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
        <div class="form-inputs">
          <%= field_set_tag "基本資訊" do %>
            <%= f.input :nickname, { label: 'Name', hint: "您可以在這裡寫上您的真實姓名、暱稱或者工作室名稱" } %>
            <%= f.input :description, { as: :text, label: "介紹", hint: "來一點自我介紹(請不要寫上作品介紹)吧？", input_html: { class: 'span4', rows: 8 } } %>
          <% end %>
          <fieldset>
            <legend>上傳您的作品 <small data-toggle="modal" data-target="myModal">(如何上傳作品？)</small></legend>
            <%= f.input :asset, { as: :file, label: "請選擇檔案", hint: "只允許JPG/PNG/TIFF/GIF格式，並且小於3MB" } %>
          </fieldset>
        </div>
        <div class="form-actions">
          <%= f.submit("Submit", { class: 'btn' }) %>
          <%= link_to("Cancel", user_path(current_user), { class: 'btn btn-danger' }) %>
        </div>
      <% end %>
    </div>
    <div class="span6">
      <div class="row">
        <div class="span6">
          <h3>Messages</h3>
          <% if @messages.blank? %>
            <p>目前沒有任何新留言</p>
          <% else %>
            <table>
              <thead>
                <tr>
                  <td>作者</td>
                  <td>日期</td>
                </tr>
              </thead>
              <tbody>
                <% @messages.each do |message| %>
                  <tr>
                    <td><%= link_to(message.name, user_message_path(current_user, message)) %></td>
                    <td><%= message.created_at %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
        <div class="span6">
          <h3>自定樣板 (自行撰寫CSS設計)</h3>
          <p><small><%= link_to("建立新的樣板", new_style_sheet_path) %></small></p>
          <table class="table">
            <thead>
              <tr>
                <td>id</td>
                <td>啟用中</td>
                <td>名稱</td>
              </tr>
            </thead>
            <tbody>
              <% @style_sheets.each do |css| %>
                <tr>
                  <td><%= css.id %></td>
                  <td><%= link_to((css.enabled? ? "啟用" : "不啟用"), toggle_style_sheet_path(css), { method: :put }) %></td>
                  <td><%= link_to(css.name, edit_style_sheet_path(css)) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">如何上傳作品？</h3>
  </div>
  <div class="modal-body">
    <p>可以直接從「檔案總管」或者是「Finder」中將您的作品拖到網頁上後放開就會自動上傳。</p>
    <p>也可以在下方的上傳作品中手動選擇檔案後按下Submit來上傳。</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">瞭解了</button>
  </div>
</div>