<div class="span12">
  <div class="row">
    <header class="span10 offset1">
      <h1 id="user-name">Design You</h1>
      <small id="slogan">Show your works, get the chance!</small>
      <% if user_signed_in? && current_user.nickname.blank? %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> 你還沒有設定你的名字哦！快到 <%= link_to("個人頁面", user_path(current_user)) %> 內設定吧！
        </div>
      <% end %>
      <div>
        <div class="pull-right">
          <% if user_signed_in? %>
            <p>Hello! <%= link_to(current_user.nickname, user_path(current_user)) %> [ <%= link_to("登出", destroy_user_session_path, {method: :delete}) %> ]</p>
          <% else %>
            <%= link_to("註冊", new_user_registration_path) %> | <%= link_to("登入", new_user_session_path) %>
          <% end %>
        </div>
      </div>
    </header>
  </div>
  <div class="row">
    <div class="row">
      <hr class="span10 offset1" />
      <div id="description" class="span10 offset1">
        <p>Upload your works today and show them to your friends or get hire!</p>
      </div>
      <div id="images" class="span10 offset2">
        <ul class="thumbnails">
          <% @assets.each do |asset| %>
            <li class="span4 offset2 card-container">
              <div class="card">
                <div class="back">
                  <h3><%= asset.user.nickname %></h3>
                  <p class="description"><%= truncate(strip_tags(asset.user.description), length: 250) %></p>
                  <p><%= link_to("Show more", user_path(asset.user)) %></p>
                </div>
                <div class="front"><%= image_tag(asset.asset.url(:thumb)) %></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>