<div class="span12">
  <div class="row">
    <header class="span10 offset1">
      <h1 id="user-name">
        <%= @user.nickname %>
      </h1>
      <p>
        <%= link_to("回首頁", root_path) %>
        <% authorized_area(@user) do %>
          <small class="editable"> | <%= link_to("Edit your profile", edit_user_path(current_user)) %></small>
        <% end %>
      </p>
      <p class="pull-right">
        <div class="pull-right">
          <% if user_signed_in? %>
            <p>Hello! <%= link_to(current_user.nickname, user_path(current_user)) %> [ <%= link_to('Sign out', destroy_user_session_path, {method: :delete}) %> ]</p>
          <% else %>
            <p><%= link_to('Sign Up', new_user_registration_path) %> | <%= link_to('Sign In', new_user_session_path) %></p>
          <% end %>
          <p><%= link_to("Leave message", new_user_message_path(@user)) %></p>
        </div>
      </p>
    </header>
  </div>
  <div class="row">
    <hr class="span10 offset1" />
    <div id="description" class="span10 offset1">
      <blockquote><%= @user.description %></blockquote>
    </div>
    <div id="images" class="span10 offset1">
      <ul class="unstyled">
        <% @user.assets.each do |asset| %>
          <li class="box">
            <%= image_tag(asset.asset.url) %>
            <% authorized_area(@user) do %>
              <p><%= link_to("刪除此作品", asset_path(asset), { confirm: "確定真的要刪除嗎？", method: :delete }) %></p>
            <% end %>
          </li>
        <% end %>
        <li><small><%= link_to("回首頁", root_path) %></small></li>
      </ul>
    </div>
  </div>
</div>



<% content_for :css_area do %>
  <%= stylesheet_link_tag(style_sheet_path(@stylesheet_file, { format: 'css' })) if @stylesheet_file %>
<% end %>