<%= simple_form_for(@style_sheet, html: {class: 'form-horizontal'}) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :content, as: :text, input_html: {class: 'span6'} %>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
