<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span8">
        <%= render 'form' %>
      </div>
      <div class="span4">
        <h1>樣板元素的CSS Selector</h1>
        <hr />
        <dl>
          <dt>標題/名稱</dt>
          <dd><code>.users-controller.show-action header #user-name</code></dd>
          <dt>簡介文字</dt>
          <dd><code>#description</code></dd>
          <dt>圖片列表</dt>
          <dd><code>.users-controller.show-action #images</code></dd>
          <dt>圖片</dt>
          <dd><code>.users-controller.show-action #images ul .box</code></dd>
          <dt>範例</dt>
          <dd>
            <pre>
#user-name {
  color: red;
}

#description{
  color: green;
}

.users-controller.show-action #images ul li.box{
  margin-bottom: 200px;
}
            </pre>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>