<div class="row">
  <div class="span12">
    <header>
      <h1>樣式表</h1>
      <p><%= link_to "新增一個樣式", new_style_sheet_path, {class: 'btn btn-primary'} %></p>
    </header>
  </div>
</div>
<div class="row">
  <div class="span12">

    <table>
      <tr>
        <th>User</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @style_sheets.each do |style_sheet| %>
      <tr>
        <td><%= style_sheet.user %></td>
        <td><%= style_sheet.content %></td>
        <td><%= link_to 'Show', style_sheet %></td>
        <td><%= link_to 'Edit', edit_style_sheet_path(style_sheet) %></td>
        <td><%= link_to 'Destroy', style_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />


  </div>
</div>