<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @style_sheet.user %>
</p>

<p>
  <b>Content:</b>
  <%= @style_sheet.content %>
</p>


<%= link_to 'Edit', edit_style_sheet_path(@style_sheet) %> |
<%= link_to 'Back', style_sheets_path %>
