/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require base
 *= require users
 */

#drag_indicator{
  position: fixed;
  z-index: 200000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#drag_indicator .bg{

  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 100000;
}

#drag_indicator .inside{

  position: absolute;
  width: 200px;
  height: 50px;
  top: 50%;
  left: 50%;
  z-index: 110000;
  text-align: center;
  margin-left: -100px;
  margin-top: -25px;
}

#drag_indicator .inside h1{
  font-size: 24px;
  color: #aaa;
  margin: 20px 0 !important;
  padding: 0 !important;
}