.users-controller{

  background-image: url(http://subtlepatterns.com/patterns/lghtmesh.png);

  &.show-action, &.index-action{

    header{

      #user-name{

        font:{

          size: 36pt;
        }
        text-align: left;
        line-height: 1.5em;

        color: darken(#6f7274, 8%);

        font-family: Impact;
      }

      small#slogan{

        font:{

          size: 12pt;
        }

        color: darken(#6f7274, 4%);
      }
    }

    #images{

      margin-top: 20px;
      border-radius: 36px;
      // padding: 10px;

      height: 500px;

      img{

        &.hidden{
          display: hidden;
        }
      }
    }
  }

  &.show-action{

    #images{

      ul{

        .box{

          display: inline-block;
          width: 100%;
          height: 100%;
          text-align: center;
          margin-bottom: 12px;
        }
      }
    }
  }

  &.edit-action{

    legend{

      small{

        &:hover{

          color: darken(#999, 20%);
          cursor: pointer;
        }
      }
    }
  }
}

// Flip card

@import "compass/css3/transform";
@import "compass/css3/transition";
.card {
  position: relative;
  @include transform-style(preserve-3d);
  @include perspective(1000);
}

.card-container{
  display: inline-block;
  text-align: center;
  height: 300px;

  &:hover{

    .back{

      @include rotateY(0deg);
    }

    .front{
      @include rotateY(-180deg);
    }
  }
}

.back, .front {
  position: absolute;

  @include backface-visibility(hidden);
  @include transition-property(transform);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
}

.back {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  overflow: hidden;
  height: 200px;
  width: 300px;
  @include rotateY(180deg);

  h3{

    margin-top: 12px;
  }

  p{

    margin: auto auto;
    margin-top: 6px;
    width: 200px;
    word-wrap: break-word;

    &.description{

      margin-top: 24px;
      overflow: scroll;
      max-height: 110px;
    }
  }
}