<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= render_page_title %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :css_area %>
  <%= csrf_meta_tags %>
</head>
<%= render_body_tag %>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <div id="drag_indicator">
    <div class="bg"></div>
    <div class="inside">
      <h1>Start sharing</h1>
    </div>
    <div id="header_clone"></div>
  </div>

  <div id="uploading-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3 id="myModalLabel">檔案上傳中哦 ^_^ ...</h3>
    </div>
    <div class="modal-body">
      <p>當您看到這個畫面時就表示檔案還在上傳中，請耐心等候並且千萬不要關閉瀏覽器或者跳到其他頁面去哦～</p>
      <p>當上傳完畢時會自動關閉這個視窗的～</p>
    </div>
  </div>

  <div id="uploading-fail-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3 id="myModalLabel">檔案上傳失敗了 T_T ...</h3>
    </div>
    <div class="modal-body">
      <p>當您看到這個畫面時就表示檔案上傳失敗了 ...</p>
      <p>也許是以下原因：</p>
      <ul>
        <li>檔案不是以下格式圖檔： JPG / PNG / TIFF / GIF</li>
        <li>檔案大小超過3MB</li>
      </ul>
      <p>如果都不是的話請重新測試看看哦 ... 謝謝</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
      </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
